[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libraries/lodepng"]
	path = libraries/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "libraries/ImGuiFileDialog"]
	path = libraries/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "libraries/ImGuizmo"]
	path = libraries/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
